<div
    style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; display: flex; margin: auto;
    width: 860px; flex-direction: column; align-items: center; justify-content: center">
    <div style="display: flex; flex-wrap: wrap;" class="inner-padding">
        <button *ngFor="let item of colors" class="inner-button"
                (click)="execCommand('foreColor', item.value)"
                [ngStyle]="{'background': item.value}"
                style="color: white"
        >
            <i class="fas fa-paint-brush"></i>
        </button>
        <button *ngFor="let item of fontSizes" class="inner-button"
                (click)="execCommand('fontSize', item.fontValue)"
        >
            {{ item.cssValue }}
        </button>

        <button *ngFor="let item of fontFamily" class="inner-button"
                (click)="execCommand('fontName', item.value)"
                style="font-size: 18px;"
                [ngStyle]="{'font-family': item.cssValue}"
        >
            Abc
        </button>
        <button class="inner-button" (click)="execCommand('bold')"><i class="fas fa-bold"></i></button>
        <button class="inner-button" (click)="execCommand('italic')"><i class="fas fa-italic"></i></button>
        <button class="inner-button" (click)="execCommand('underline')"><i class="fa fa-underline"></i></button>
        <button class="inner-button" (click)="execCommand('strikeThrough')"><i class="fa fa-strikethrough"></i></button>
        <button class="inner-button" (click)="saveCurrentRange()"><i class="fas fa-link"></i></button>
        <div class="url-container" *ngIf="addLinkMode">
            <input class="url-input" type="url" #urlInput>
            <button class="inner-button plus"
                    (click)="addUrl(urlInput.value)">
                <i class="fas fa-plus"></i>
            </button>
        </div>
        <button class="inner-button"
                (click)="execCommand('unlink')">
            <i class="fas fa-unlink"></i>
        </button>
        <button *ngFor="let item of alignPosition"
                class="inner-button"
                (click)="execCommand(item.value)"
        >
            <i class="fa" [ngClass]="'fa-align-' + item.label" aria-hidden="true"></i>
        </button>
        <button class="inner-button" (click)="addDynamicTag()"><i class="fas fa-code"></i></button>
        <button class="inner-button" (click)="execCommand('removeFormat')"><i class="fas fa-eraser"></i></button>
        <button class="inner-button" [ngStyle]="{'background': currentColor}"></button>
        <button class="inner-button" [ngStyle]="{'fontSize': currentFontSize}">{{currentFontSize}}</button>
    </div>
    <div class="template-editor"
         type="textarea"
         (paste)="editorPasteHandler($event)"
         contenteditable="true"
         #editor
    ></div>
</div>
