.inner-button {
  margin: 10px;
  padding: 10px;
  border-radius: 50%;
  color: #363636;
  background: rgba(0, 0, 0, 0.06);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 38px;
  width: 38px;

  border: 0;
}

.url-container {
  display: flex;
  align-items: center;

  input {
    box-sizing: border-box;
    height: 38px;
    border-radius: 19px;
    border: 0;
    background: rgba(0,0,0,0.03);
    width: 200px;
    padding: 0 10px;

    transition: all 280ms ease-in-out;
  }
}

.template-editor {
    height: 500px;
    width: 100%;
    border: 1px grey dashed;
    border-radius: 4px;
    padding: 15px;
    overflow: auto;

    p {
        padding: 0 !important;
        margin: 0 !important;
    }
}

.contenteditable {
    user-select: none;
    pointer-events: none;
}

::selection {
    background: rgba(0, 0, 0, 0.18);
}
